.heading {
    transition: all 1s ease-in-out;
}

.heading:hover {
    background: red;
}

a {
    color:darkblue;
}

a:link {
    color:deeppink;
}

a:visited {
    color:firebrick
}

a:hover {
    color: gray;
    background: darkslateblue;
    text-decoration: none;
}

a:active {
    color: darkolivegreen;
    background: darkmagenta;
    text-decoration: none;
}

/* input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    outline:none;
    border: 1px solid black
}

input:enabled {
    background:gray;
    cursor: not-allowed;
} */

input:not(:checked) + p {
    background:darkcyan;
}

.pai .lista li:last-child{
    background:red;
}

input:required {
    background:lightcoral;
}

p:not(.meio) {
    background: rgba(0, 0, 0, 0.2)
}

.childs li:nth-child(odd) {
    background-color:purple;
}

.childs li:nth-child(even) {
    background-color: brown;
}

.childs li:nth-child(3n) {
    background: aqua;
}

.childs li:nth-child(2n + 5) {
    background: black;
}